<div class="container-fluid">
	<div class="row">
  		<div class="col-xs-12 col-md-12">
            <h3>{{ text_general }}</h3>
            <p>{{ text_general_helper }}</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{ text_what_is_seo }}     
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    {{ text_what_is_seo_text }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      {{ text_need_seo }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    {{ text_need_seo_text }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      {{ text_seo_damage }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    {{ text_seo_damage_text }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEleven">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                      {{ text_seo_score_helper_title }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                  <div class="panel-body">
                    {{ text_seo_score_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFourteen">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                      {{ text_crawler_helper_title }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                  <div class="panel-body">
                    {{ text_crawler_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFifteen">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                      {{ tab_seo_analysis }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                  <div class="panel-body">
                    {{ text_seo_analysis_helper }} 
                  </div>
                </div>
              </div>
            </div>
            
            <br />
            <h3>{{ text_basic_seo }}</h3>
            <p>{{ text_basic_seo_helper }}</p>
            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseFourA" aria-expanded="true" aria-controls="collapseFourA">
                      {{ text_seo_urls }}    
                    </a>
                  </h4>
                </div>
                <div id="collapseFourA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                      {{ tab_seo_links_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      {{ text_meta_tag_title }}     
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                      {{ tab_seo_meta_titles_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      {{ text_meta_tag_description }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    {{ tab_seo_meta_descriptions_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      {{ text_meta_tag_keywords }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                  <div class="panel-body">
                    {{ tab_seo_meta_keywords_helper }} 
                  </div>
                </div>
              </div>
            </div>
            
            <br />
            <h3>{{ text_advanced_seo }}</h3>
            <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                      {{ text_custom_url_redirects }}   
                    </a>
                  </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                  <div class="panel-body">
                      {{ tab_custom_urls_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEight">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                      {{ text_auto_links }}    
                    </a>
                  </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                  <div class="panel-body">
                      {{ tab_autolinks_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingNine">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                      {{ text_rich_snippets }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                  <div class="panel-body">
                    {{ tab_social_links_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTen">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                      {{ text_social_links }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                  <div class="panel-body">
                    {{ tab_rich_snippets_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwelve">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                      {{ text_htaccess }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                  <div class="panel-body">
                    {{ text_htaccess_helper }} 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThirteen">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                      {{ text_robots }} 
                    </a>
                  </h4>
                </div>
                <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                  <div class="panel-body">
                    {{ text_robots_helper }} 
                  </div>
                </div>
              </div>
            </div>
            
            <br />
            <h3>{{ text_in_conclustion }}</h3>
            <p>{{ text_in_conclustion_helper }}<br /><br />
            {{ text_more_about_seo }}<br />
            <ul>
                <li><a href="https://isenselabs.com/posts/boosting-sales-in-opencart-seo-tips-and-social-media-activity-part-1" target="_blank">Boosting sales in OpenCart - SEO tips and social media activity (Part 1)</a></li>
                <li><a href="https://isenselabs.com/posts/boosting-sales-in-opencart-seo-tips-and-social-media-activity-part-2" target="_blank">Boosting sales in OpenCart - SEO tips and social media activity (Part 2)</a></li>   
                <li><a href="https://isenselabs.com/posts/five-seo-trends-2016" target="_blank">Five SEO Trends You Shouldn't Miss</a></li> 
                <li><a href="https://isenselabs.com/posts/how-to-create-new-opencart-categories-with-seo-in-mind" target="_blank">How to Create New OpenCart Categories with SEO in Mind</a></li>  
                <li><a href="https://isenselabs.com/posts/seo-urls-in-opencart-2x" target="_blank">How to Enable SEO URLs in OpenCart 2.x (Apache and NGINX Servers)</a></li>
            </ul>
            </p>
            
  		</div>
	</div>
</div>