<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
</head>
<body>
<div class="container">
    <div style="page-break-after: always;">
    <h1>{{ text_invoice }}#{{ invoice_id }}</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="2">{{ text_invoice_details }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 50%;">
		  
		  {% if admin_info %}
					<div class="col-sm-6 admin-store">
						<p>{{ text_admin_store_name }} - <strong>{{ admin_info.name }}</strong></p>
						<p>{{ text_address }} - <strong>{{ admin_info.address }}</strong></p>
						<p>{{ text_telephone }} - <strong>{{ admin_info.telephone }}</strong></p>
						<p>{{ text_email }} - <strong>{{ admin_info.email }}</strong></p>
						<p>{{ text_website }} - <a href="{{ admin_info.url }}"> <strong>{{ admin_info.url }}</strong></a></p>
					</div>
					{% endif %}		  
		         </td>
                  <td style="width: 50%;">
				  	{% if store_info %}
					<div class="col-sm-6">
						<p>{{ text_seller_store_name }} - <strong>{{ store_info.name }}</strong></p>
						<p>{{ text_address }} - <strong>{{ store_info.address }}</strong></p>
						<p>{{ text_telephone }} - <strong>{{ store_info.telephone }}</strong></p>
						<p>{{ text_email }} - <strong>{{ store_info.email }}</strong></p>
					</div>
					{% endif %}
				  </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b>{{ text_plan_details }}</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
		 <div class="col-sm-12 mid">
		 {% if newplan %}
				<div class="col-sm-12 mid">
					<div class="col-sm-8">
						<p><strong>{{ newplan.plan_name }}</strong> ( {{ newplan.plan_short_description }} )</p>
						<p>{{ text_start_date }} - <strong>{{ newplan.start_date }}</strong></p>
						<p>{{ text_end_date }}- <strong>{{ newplan.end_date }}</strong></p>
						<p>{{ text_joining_fee }} - <strong>{{ joining_fee }}</strong></p>
						<p>{{ text_subscription_price }} - <strong>{{ subscription_price }}</strong></p>
					</div>
					
				</div>
				{% endif %}
				</div>
			</td>
        </tr>
      </tbody>
    </table>
	    <table class="table table-bordered">
      <tbody>
         {% for value in invoiceitemss %}
        <tr>
          <td class="text-right" colspan="4"><b>{{ value.title }}</b></td>
          <td class="text-right">{{ value.price }}</td>
        </tr>
		{% endfor %}
		<tr>
          <td class="text-right" colspan="4"><b>{{ text_grand_total }}</b></td>
          <td class="text-right">{{ grand_total }}</td>
        </tr>
		</tbody>
    </table>
	    <table class="table table-bordered">
      <tbody>
        <tr>
         <td style="width: 50%; padding:20px;">
            <b>{{ text_invoice_id }}</b>#{{ invoice_id }} <br />
            <b>{{ text_created_date }}</b> {{ created_date}} <br />
          </td>
          <td>
		  <h3 style="text-align:center">{{ current_status }}</h3>
		  </td>
        </tr>
      </tbody>
    </table>

	<table class="table table-bordered">
      <thead>
                                <tr>
          <td class="text-right" colspan="4"><b>{{ text_payment_mode }}</b></td>
          <td class="text-right">{{ text_status }}</td>
          <td class="text-right">{{ text_transaction_id }}</td>
          <td class="text-right">{{ text_payment_date }}</td>
          <td class="text-right">{{ text_comment }}</td>
        </tr>
              </thead>
              <tbody>
			  {% if payment_history %}
			  {% for payment_hi in payment_history %}
         <tr>
			<td class="text-right" colspan="4">{{ payment_hi.payment_mode }}</td>
          <td class="text-right">{{ payment_hi.status }}</td>
          <td class="text-right">{{ payment_hi.transaction_id  }}</td>
          <td class="text-right">{{ payment_hi.created_date  }}</td>
          <td class="text-right">{{ payment_hi.comment  }}</td>
        </tr>
		{% endfor %}
		{% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
		{% endif %}
              </tbody>
    </table>
      </div>
 </div>
</body>
</html>