{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" id="broadcast-btn" form="form-schedule" data-toggle="tooltip" title="{{ button_broadcast }}" class="btn btn-success"><i class="fa fa-rss"></i></button>
        <button type="submit" id="add-btn"  form="form-schedule" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-schedule" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_title }}</label>
            <div class="col-sm-10">
                <input type="text" name="title" value="{{ title }}" placeholder="{{ entry_title }}" class="form-control" />
              {% if error_title %}
              <div class="text-danger">{{ error_title }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_message }}</label>
            <div class="col-sm-10">
                <input type="text" name="message" value="{{ message }}" placeholder="{{ entry_message }}" class="form-control" />
              {% if error_message %}
              <div class="text-danger">{{ error_message }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_audience }}</label>
            <div class="col-sm-10">
                <select type="text" name="audience" value="{{ audience }}" placeholder="{{ entry_audience }}" class="form-control" >
                  {% if audience == ' buyer' %}
                    <option value="all">All</option>
                    <option value="buyer" selected>Buyers</option>
                    <option value="seller">Sellers</option>
                  {% elseif audience == 'seller' %}
                    <option value="all">All</option>
                    <option value="buyer">Buyers</option>
                    <option value="seller" selected>Sellers</option>
                  {% else %}
                    <option value="all" selected>All</option>
                    <option value="buyer">Buyers</option>
                    <option value="seller">Sellers</option>
                  {% endif %}
                </select>
              {% if error_audience %}
              <div class="text-danger">{{ error_audience }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_platform }}</label>
            <div class="col-sm-10">
                <select name="platform" value="{{ platform }}" placeholder="{{ entry_platform }}" class="form-control" >
                  {% if platform == 'browser' %}
                    <option value="all">All</option>
                    <option value="browser" selected>Browser</option>
                    <option value="mobile">Mobile</option>
                  {% elseif platform == 'mobile' %}
                    <option value="all">All</option>
                    <option value="browser">Browser</option>
                    <option value="mobile" selected>Mobile</option>
                  {% else %}
                    <option value="all" selected>All</option>
                    <option value="browser">Browser</option>
                    <option value="mobile">Mobile</option>
                  {% endif %}
                </select>
              {% if error_platform %}
              <div class="text-danger">{{ error_platform }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_image }}</label>
            <div class="col-sm-10">
              <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ image }}" /></a>
              <input type="hidden" name="image" value="{{ image }}" id="input-image" />
              {% if error_image %}
              <div class="text-danger">{{ error_image }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_broadcast_now }}</label>
            <div class="col-sm-3">
              <select type="text" name="broadcast_now" value="{{ broadcast_now }}" placeholder="{{ entry_broadcast_now }}" class="form-control" id="broadcast-now">
                  {% if  broadcast_now %}
                  <option value="1" selected>Yes</option>
                  <option value="0">No</option>
                  {% else %}
                  <option value="1" >Yes</option>
                  <option value="0" >No</option>
                  {% endif %}
              </select>
              {% if error_broadcast_now %}
              <div class="text-danger">{{ error_broadcast_now }}</div>
              {% endif %}
            </div>
          </div>
          <div id="broadcast-date">
            <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_date }}</label>
            <div class="col-sm-3">
              <div class="input-group date">
                <input type="text" name="broadcast_date" value="{{ broadcast_date }}" placeholder="{{ entry_date }}" data-date-format="YYYY-MM-DD HH:MM:SS" id="input-date-end" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
              {% if error_broadcast_date %}
              <div class="text-danger">{{ error_broadcast_date }}</div>
              {% endif %}
            </div>
          </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_web_link }}</label>
            <div class="col-sm-10">
              <input type="text" name="web_link" value="{{ web_link }}" placeholder="{{ entry_web_link }}" class="form-control" />
              {% if error_web_link %}
              <div class="text-danger">{{ error_web_link }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_mobile_link_type }}</label>
            <div class="col-sm-10">
              <select type="text" name="mobile_link_type" id="mobile_link_type" value="{{ mobile_link_type }}" placeholder="{{ entry_mobile_link_type }}" class="form-control" >
                  {% if mobile_link_type == 'section' %}
                    <option value="product" >Product</option>
                    <option value="category">Category</option>
                    {#<option value="section" selected>Module</option>#}
                  {% elseif mobile_link_type == 'category' %}
                    <option value="product" >Product</option>
                    <option value="category"selected>Category</option>
                    {#<option value="section">Module</option>#}
                  {% else %}
                    <option value="product" selected>Product</option>
                    <option value="category">Category</option>
                    {#<option value="section">Module</option>#}
                  {% endif %}
                </select>
              {% if error_mobile_link_type %}
              <div class="text-danger">{{ error_mobile_link_type }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_mobile_link }}</label>
            <div class="col-sm-10">
              <input name="mobile_link_name" value="{{ mobile_link_name }}" placeholder="{{ entry_mobile_link }}" class="form-control" list="lists">
              <input name="mobile_link" id="mobile_link" type="hidden" value="{{ mobile_link }}" class="form-control">
              {% if error_mobile_link %}
              <div class="text-danger">{{ error_mobile_link }}</div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
      $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
      });

      window.addEventListener('load', function() {
        const broadcast = document.querySelector('#broadcast-now');
        if(broadcast.value == 1){
          document.querySelector('#broadcast-date').style.display = 'none';
          document.querySelector('#add-btn').style.display = 'none';
          document.querySelector('#broadcast-btn').style.display = 'inline-block';
        }else{
          document.querySelector('#add-btn').style.display = 'inline-block';
          document.querySelector('#broadcast-btn').style.display = 'none';
          document.querySelector('#broadcast-date').style.display = 'block';
        }
      });

      const broadcast = document.querySelector('#broadcast-now');
      broadcast.onchange = function(e){
        if(e.target.value == 1){
          document.querySelector('#broadcast-date').style.display = 'none';
          document.querySelector('#add-btn').style.display = 'none';
          document.querySelector('#broadcast-btn').style.display = 'inline-block';
        }else{
          document.querySelector('#add-btn').style.display = 'inline-block';
          document.querySelector('#broadcast-btn').style.display = 'none';
          document.querySelector('#broadcast-date').style.display = 'block';
        }
      };


//--></script>
 <script type="text/javascript"><!--
$('input[name=\'mobile_link_name\']').autocomplete({
	source: function(request, response) {
	    const datatype = document.querySelector("#mobile_link_type").value;
	    const url = datatype == 'section' ? 'mobile_app/sections' : 'catalog/'+datatype;
		$.ajax({
			url: "index.php?route="+url+'/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
			    
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: datatype == 'product' ?  item['product_id'] : datatype == 'category' ? item['category_id'] : item['section_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		this.value = item.label;
		console.log(item.label)
		$('#mobile_link').val(item.value);	
	}
});
	
//--></script>
</div>
{{ footer }}