{{ header }}{{ leftMenu }}
<div id="content">
	<div class="wrap" id="content">

	{% if enabled %}
		<main role="main">
			<div id="third">
				<section class="top-bar">
					<div class="text-center">
						<img src="{{ base }}/view/image/smartsupp/logo.png" alt="smartsupp logo" />
					</div>
				</section>
				<section class="deactivate">
					<div class="row">
						<p class="bold">
							<span class="left">{% if email %}{{ email }}{% endif %}</span>
							<span class="right"><a class="js-action-disable" href="javascript: void(0);">{{ translator.translate('Deactivate Chat') }}</a></span>
						</p>
						<div class="clear"></div>
						<section class="intro">
							<h4>
                                                            <p class="info">
                                                            {{ translator.translate('infoSmartsuppText') }}
                                                            </p>
                                                            <p>
                                                            {{ translator.translate('goToSmartsuppText') }}
                                                            </p>
                                                        </h4>
							<div class="intro--btn">
								<a href="https://dashboard.smartsupp.com?utm_source=OpenCart&utm_medium=integration&utm_campaign=link" target="_blank" class="js-register btn btn-primary btn-xl">{{ translator.translate('goToSmartsupp') }}</a>
							</div>
							<p class="tiny text-center bigger-m">{{ translator.translate('openInNewTab') }}</p>
						</section>
					</div>
				</section>
				<section>
					<div class="settings-container">
						<div class="section--header">
							<h3 class="no-margin">{{ translator.translate('advancedSettings') }}</h3>
							<p>{{ translator.translate('optionalCode') }}</p>
						</div>
						<div class="section--body">
							<form action="" method="post" id="settingsForm" class="js-code-form form-horizontal" autocomplete="off">
								<div class="alerts">
									{% if message %}
										<div class="alert alert-success">
											{{ translator.translate(message) }}
										</div>
									{% endif %}
								</div>
								<div class="form-group">
									<div class="col-xs-12">
										<textarea name="code" id="textAreaSettings" cols="30" rows="10">{% if customCode %}{{ customCode }}{% endif %}</textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-12">
										<div class="loader"></div>
										<button type="submit" class="btn btn-primary btn-lg" name="_submit">
											{{ translator.translate('saveChanges') }}
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</main>
	{% else %}
		<main role="main" class="sections" id="home"{% if formAction %} style="display: none;"{% endif %}>
			<div id="first">
				<section class="top-bar">
					<div class="">
						<img src="{{ base }}/view/image/smartsupp/logo.png" alt="smartsupp logo" />
						<a href="javascript: void(0);" class="js-login btn btn-default">{{ translator.translate('connectAccount') }}</a>
					</div>
				</section>
				<section class="intro">
					<div>
						<h1 class="lead">{{ translator.translate('freeChat') }}</h1>
						<h3>{{ translator.translate('customersOnWebsite') }}<br/>{{ translator.translate('chatWithThem') }}</h3>
						<div class="intro--btn">
							<a href="javascript: void(0);" class="js-register btn btn-primary btn-xl">{{ translator.translate('createAccount') }}</a>
						</div>
						<div class="intro--image">
							<img src="{{ base }}/view/image/smartsupp/intro-img.png" alt="intro" />
						</div>
					</div>
				</section>
				<section>
					<div class="text-center">
						<div class="section--header">
							<h2>{{ translator.translate('freeOrPremium') }}</h2>
							<p>{{ translator.translate('allFeatures') }}</a></p>
						</div>
						<div class="section--body boxies">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box box-bubble">
									<p class="bold">{{ translator.translate('chatInRealTime') }}</p>
									<p class="tiny">{{ translator.translate('loyalty') }}</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box box-graph">
									<p class="bold">{{ translator.translate('increaseSales') }}</p>
									<p class="tiny">{{ translator.translate('visitorsToCustomers') }}</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box box-mouse">
									<p class="bold">{{ translator.translate('screenRecording') }}</p>
									<p class="tiny">{{ translator.translate('visitorBehavior') }}</p>
								</div>
							</div>
						</div>
						<div class="section--header">
							<h2>{{ translator.translate('trusted') }}</h2>
						</div>
						<div class="section--body">
							<div class="customers">
								<img src="{{ base }}/view/image/smartsupp/skoda.png" alt="ŠKODA AUTO a.s." />
								<img src="{{ base }}/view/image/smartsupp/gekko.jpeg" width="200" height="200" alt="GEKKO Computer" />
								<img src="{{ base }}/view/image/smartsupp/lememo.png" alt="Lememo" />
								<img src="{{ base }}/view/image/smartsupp/conrad.png" alt="Conrad" />
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
		<main role="main" class="sections" id="connect"{% if formAction == NULL %} style="display: none;"{% endif %}>
			<div id="second">
				<section class="top-bar">
					<div>
						<a href="javascript: void(0);" class="js-close-form">
							<img src="{{ base }}/view/image/smartsupp/logo.png" alt="smartsupp logo" />
							<a href="javascript: void(0);" class="btn btn-default" data-toggle-form data-multitext data-register="{{ translator.translate('connectAccount') }}" data-login="{{ translator.translate('createAccount') }}">
								{% if formAction == 'register' %}{{ translator.translate('connectAccount') }}{% else %}{{ translator.translate('createAccount') }}{% endif %}
							</a>
						</a>
					</div>
				</section>
				<section id="signUp">
					<div class="text-center">
						<div class="form-container">
							<div class="section--header">
								<h1 class="lead" data-multitext data-login="{{ translator.translate('connectAccount') }}" data-register="{{ translator.translate('createAccount') }}">
									{% if formAction == 'login' %}{{ translator.translate('connectAccount') }}{% else %}{{ translator.translate('createAccount') }}{% endif %}
								</h1>
							</div>
							<div class="section--body">
								<div class="form--inner">
									<form action="" method="post" id="signUpForm" class="form-horizontal{% if formAction %}js-{{ formAction }}-form{% endif %}" data-toggle-class autocomplete="off">
										<div class="alerts">
											{% if message %}
												<div class="alert alert-danger js-clear">
													{{ translator.translate(message) }}
												</div>
											{% endif %}
										</div>
										<div class="form-group">
											<label class="visible-xs control-label col-xs-12" for="frm-signUp-form-email">{{ translator.translate('email') }}</label>
											<div class="col-xs-12">
												<div class="input-group">
													<span class="input-group-addon hidden-xs" style="min-width: 150px;">{{ translator.translate('email') }}</span>
													<input type="email" class="form-control input-lg" name="email" id="frm-signUp-form-email" required="" value="{% if email %}{{ email }}{% endif %}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="visible-xs control-label col-xs-12" for="frm-signUp-form-password">{{ translator.translate('password') }}</label>
											<div class="col-xs-12">
												<div class="input-group">
													<span class="input-group-addon hidden-xs" style="min-width: 150px;">{{ translator.translate('password') }}</span>
													<input type="password" class="form-control input-lg" name="password" autocomplete="off" id="frm-signUp-form-password" required="">
												</div>
											</div>
										</div>
										<div class="form-group">
                                                                			<div class="col-xs-12">
                                                                				<div class="input-group">
                                                                                                        <input type="checkbox" name="dpa" id="frm-signUp-form-dpa" required="">
                                                                                                        <label name="dpa_label" for="dpa">{{ translator.translate('dpa') }}</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-12 form-button">
												<div class="loader"></div>
												<button type="submit" class="btn btn-primary btn-lg btn-block" name="_submit" data-multitext data-login="{{ translator.translate('connectAccount') }}" data-register="{{ translator.translate('signUp') }}">
													{% if formAction == 'login' %}{{ translator.translate('connectAccount') }}{% else %}{{ translator.translate('signUp') }}{% endif %}
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="section--header">
							<h2>{{ translator.translate('trusted') }}</h2>
						</div>
						<div class="section--body">
							<div class="customers">
								<img src="{{ base }}/view/image/smartsupp/skoda.png" alt="ŠKODA AUTO a.s." />
								<img src="{{ base }}/view/image/smartsupp/gekko.jpeg" width="200" height="200" alt="GEKKO Computer" />
								<img src="{{ base }}/view/image/smartsupp/lememo.png" alt="Lememo" />
								<img src="{{ base }}/view/image/smartsupp/conrad.png" alt="Conrad" />
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
	{% endif %}

	</div>

</div>

{{ footer }}
