<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8">
           <ul id="seo_description_languages_tabs" class="nav nav-pills" role="tablist">
               {% for language in languages %} 
               <li {{ language.language_id == default_language_id ? 'class="active"' : '' }}><a role="tab" data-toggle="tab" href="#seo_descriptions_{{ language.language_id }}">
                   <img src="language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" />
               </a></li> 
               {% endfor %} 
               <li><a role="tab" data-toggle="tab" href="#seo_descriptions_advanced">{{ tab_seo_meta_descriptions_title }}</a></li>
            </ul>
            <div class="tab-content tabs">
                {% for language in languages %}
                {% set lid = language.language_id  %} 
                <div id="seo_descriptions_{{ language.language_id }}" role="tabpanel" class="tab-pane fade in {{ language.language_id == default_language_id ? 'active' : '' }}">                
                    <table class="table table-hover text-center"> 
                        <thead> 
                            <tr> 
                                <th>#</th>
                                <th class="text-center">{{ text_products }}</th>
                                <th class="text-center">{{ text_categories }}</th>
                                <th class="text-center">{{ text_information_pages }}</th>
                                <th class="text-center">{{ text_manufacturers }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{ text_total_items }}</th>
                                <td>{{ seo_data.total_products[lid] }}</td>
                                <td>{{ seo_data.total_categories[lid] }}</td>
                                <td>{{ seo_data.total_informations[lid] }}</td>
                                <td>{{ seo_data.total_manufacturers[lid] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ text_meta_descriptions }}</th>
                                <td>{{ seo_data.total_products_meta[lid] }}</td>
                                <td>{{ seo_data.total_categories_meta[lid] }}</td>
                                <td>{{ seo_data.total_informations_meta[lid] }}</td>
                                <td>{{ seo_data.total_manufacturers_meta[lid] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ text_missing_descriptions }}</th>
                                <td class="{{ seo_data.total_products_difference[lid] > 0 ? 'danger' : 'success' }}">{{ seo_data.total_products_difference[lid] }}</td>
                                <td class="{{ seo_data.total_categories_difference[lid] > 0 ? 'danger' : 'success' }}">{{ seo_data.total_categories_difference[lid] }}</td>
                                <td class="{{ seo_data.total_informations_difference[lid] > 0 ? 'danger' : 'success' }}">{{ seo_data.total_informations_difference[lid] }}</td>
                                <td class="{{ seo_data.total_manufacturers_difference[lid] > 0 ? 'danger' : 'success' }}">{{ seo_data.total_manufacturers_difference[lid] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ text_action }}</th>
                                <td>
                                    <a onclick="seoFixNow('product_seo_descriptions', {{ language.language_id }});" class="btn btn-md btn-primary {{ seo_data.total_products_difference[lid] > 0 ? '' : 'disabled' }} btn-seo-fix margin-fix">{{ text_generate }}</a>
                                    <br /><br />
                                    <a onclick="seoFixNow('product_seo_descriptions_all', {{ language.language_id }});" class="btn btn-md btn-success btn-seo-fix">{{ text_start_fresh }}</a>
                                </td>
                                <td>
                                    <a onclick="seoFixNow('category_seo_descriptions', {{ language.language_id }});" class="btn btn-md btn-primary {{ seo_data.total_categories_difference[lid] > 0 ? '' : 'disabled' }} btn-seo-fix margin-fix">{{ text_generate }}</a>
                                    <br /><br />
                                    <a onclick="seoFixNow('category_seo_descriptions_all', {{ language.language_id }});" class="btn btn-md btn-success btn-seo-fix">{{ text_start_fresh }}</a>
                                </td>
                                <td>
                                    <a onclick="seoFixNow('information_seo_descriptions', {{ language.language_id }});" class="btn btn-md btn-primary {{ seo_data.total_informations_difference[lid] > 0 ? '' : 'disabled' }} btn-seo-fix margin-fix">{{ text_generate }}</a>
                                    <br /><br />
                                    <a onclick="seoFixNow('information_seo_descriptions_all', {{ language.language_id }});" class="btn btn-md btn-success btn-seo-fix">{{ text_start_fresh }}</a>
                                </td>
                                <td>
                                    <a onclick="seoFixNow('manufacturer_seo_descriptions', {{ language.language_id }});" class="btn btn-md btn-primary {{ seo_data.total_manufacturers_difference[lid] > 0 ? '' : 'disabled' }} btn-seo-fix margin-fix">{{ text_generate }}</a>
                                    <br /><br />
                                    <a onclick="seoFixNow('manufacturer_seo_descriptions_all', {{ language.language_id }});" class="btn btn-md btn-success btn-seo-fix">{{ text_start_fresh }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %} 
                <div id="seo_descriptions_advanced" role="tabpanel" class="tab-pane fade in">
                    <div class="col-xs-12 col-md-6">
                        <br />
                        <h3>{{ text_product_description_string }}</h3>
                        <input name="product_description_string" type="text" class="form-control input-md" value="{{ product_description_string }}" />
                        <br />{{ text_short_codes }}<br />
                        [product], [description], [model], [sku], [upc], [site_name]
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <br />
                        <h3>{{ text_category_description_string }}</h3>
                        <input name="category_description_string" type="text" class="form-control input-md" value="{{ category_description_string }}" />
                        <br />{{ text_short_codes }}<br />
                        [category], [description], [site_name]
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <br />
                        <br />
                        <h3>{{ text_information_description_string }}</h3>
                        <input name="information_description_string" type="text" class="form-control input-md" value="{{ information_description_string }}" />
                        <br />{{ text_short_codes }}<br />
                        [information], [description], [site_name]
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <br />
                        <br />
                        <h3>{{ text_manufacturer_description_string }}</h3>
                        <input name="manufacturer_description_string" type="text" class="form-control input-md" value="{{ manufacturer_description_string }}" />
                        <br />{{ text_short_codes }}<br />
                        [manufacturer], [site_name]
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <br />
                        <br />
                        <h3>{{ text_description_tag_word_limit }}</h3>
                        <input name="meta_description_word_limit" type="text" class="form-control input-md" value="{{ meta_description_word_limit }}" />
                        <br />{{ text_tag_word_limit }}
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <p class="text-left">
                            <br />
                            <a onClick="saveChanges('#seo_descriptions_advanced');" class="btn btn-md btn-primary">{{ text_save_changes }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-md-4">
        <div class="box-heading">
            <h1><i class="fa fa-info-circle" aria-hidden="true"></i>{{ tab_seo_meta_descriptions_helper_title }}</h1>
        </div>
        <div class="box-content">
            {{ tab_seo_meta_descriptions_helper }}
        </div>
        </div>
    </div>
</div>